@media (min-width: 690px) {
    .header-section .header-title{
        font-size: 2rem;
    }
    
    .header-section .header-form{
        width: 70%;
    }
    
    .content-section{
        display: grid;
        grid-template-columns:repeat(2,50%);
        top: 12.4rem;
    }
    .result-data:nth-child(1), .result-data:nth-child(3){
        border-right: 1px solid var(--dark-gray);
    }
    .result-data .title{
        margin: 0 0 1rem 0;
    }
    .result-data .data{
        font-size: 25px;
    }
}

@media (min-width:950px){
    .header-section .header-form{
        width: 55%;
    }

    .content-section{
        grid-template-columns: repeat(4,25%);
        align-items: center;
        text-align: left;
        height: 8rem;
    }
    .result-data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-right: 1px solid var(--dark-gray);
        padding: 1rem;
        margin: 0;
        height: 4rem;
    }
    .result-data:nth-child(4){
        border: none;
    }
    .result-data .data{
        font-size: 30px;
        height: 3rem;
    }
}